{% extends 'base.html.twig' %}

{% block title %}Mon Blog{% endblock %}

{% block body %}

<div class="row">


{% for post in posts %} 
    <article class="col-6 border-bottom mb-1">
        <h2>{{ post.title }}</h2>

        <small>Article créé le {{ post.createdAt | date('d.m.Y') }} - Catégorie : 
        <a href="{{ path('read_categorie2', { id : post.categorie.id }) }}">{{ post.categorie.name }}</a></small>
    
        {% if post.image is not empty %}
        <img class="d-block w-75 p-3" src="{{ asset('images/posts/'~ post.image ) }}" alt="{{ post.title }}">
        {% endif %}
        
        <p>{{ post.content[:50] }}...</p> 
        {# équivalent à {{ post.content|slice(1, 180) }} #}
        <a href="{{ path('read_post', { id: post.id }) }}" title="Lire la suite de l'article">Aller à la page de l'article</a>
    </article>
{% endfor %}

    <div class="py-5">
    {{ knp_pagination_render(posts) }}
    </div>
</div>



{% endblock %}
