{% extends 'base.html.twig' %}

{% block title %}Mon article {{ post.id }}{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}

<h1>{{ post.title }}</h1>
<small>Posté le {{ post.createdAt | date('d.m.Y') }}. - Catégorie : <a href="{{ path('read_categorie', { id : post.categorie.id }) }}">{{ post.categorie.name }}</a></small>

{% if post.image is not empty %}
<img class="d-block w-75 p-3" src="{{ asset('images/posts/'~ post.image ) }}" alt="{{ post.title }}">
{% endif %}

<p>{{ post.content }}</p>
<a href="{{ path('blog') }}">Retour à la liste des articles</a>

<h2>Commentaires</h2>
{% for comment in post.comments|sort((a, b) => a.createdAt > b.createdAt) %}
    <div>
        <small>Commentaire posté le {{ comment.createdAt | date('d.m.Y') }}</small>
        <p>{{ comment.comment }}</p> 
    </div>
    <hr>
{% endfor %}

<h3>Postez votre commentaire</h3>
{{ form(formComment) }}

{% endblock %}