<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href=" {{ path('blog') }}">Mon Blog !</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            {# Formulaire de recherche #}

            <form action="{{ path('results') }}" method="GET" class="form-inline ml-auto">
                <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
            </form> 


            {# ESPACE UTILISATEUR #}
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                {# Si l'utilisateur est connecté #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bonjour {{ app.user.firstname }} !
                    </a>
                    {# On lui laisse la possibilité de se déconnecter #}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
                    
                        {% if is_granted('ROLE_EDITOR') %}

                        <a class="dropdown-item" href="{{ path('admin') }}">Gérer les articles</a>

                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}

                        <a class="dropdown-item" href="{{ path('users_index') }}">Gérer les utilisateurs</a>

                        {% endif %}

                    </div>

                </li>

                {% else %}
                {# Si il n'est pas connecté, on l'invite à se connecter... #}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_login') }}">Se connecter<span class="sr-only">(current)</span></a>
                </li>
                {# ou à s'inscrire dans la bdd #}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
                </li>
                {% endif %}

                {# <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> #}
            </ul>

        </div>
    </nav>

    <div class="container py-5">
        {% block body %}{% endblock %}
    </div>

    <!-- JS, Popper.js-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    {% block javascripts %}{% endblock %}
</body>

</html>